*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #f4f4f4;
}

nav{
    background: #f37021;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    font-size: 22px;
    font-weight: bold;
}

.hero{
    height: 450px;
    background:url(./Images/bgimg.png);
    center/cover;
    position: relative;
}

.overlay{
    background: rgba(0,0,0,45);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.search-box input{
    width: 420px;
    padding: 16px;
    border: none;
    border-radius: 40px;
    font-size: 18px;}